.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 2rem;
  background-color: #f1f1f1f;
}
.login .form {
  background-color: #ffc0cb;
  width: 100%;
  max-width: 25rem;
  padding: 0.5rem;
  border-radius: 1rem;
  text-align: center;
  align-items: center;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.login .formField {
  padding-bottom: 0.5rem;
}

.login .formField label {
  display: block;
}

.login .formField input {
  width: 15rem;
}

.login .enterButton {
  text-align: center;
  margin-tom: 0.5 rem;
}
.enterButton :hover {
  cursor: pointer;
}
.registerButton :hover {
  cursor: pointer;
}

.registerButton {
  text-align: center;
  margin-tom: 0.5 rem;
}

.containerButtons {
  display: flex;
  justify-content: space-around;
  width: 10rem;
  margin: 0 7rem;
}
